<a href="https://colab.research.google.com/github/Adigozalovh/Machine-Learning/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!curl -L -o titanic-dataset.zip https://www.kaggle.com/api/v1/datasets/download/yasserh/titanic-dataset

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100 22564  100 22564    0     0  89054      0 --:--:-- --:--:-- --:--:-- 89054

In [ ]:
!unzip /content/titanic-dataset.zip

Archive:  /content/titanic-dataset.zip
  inflating: Titanic-Dataset.csv

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/Titanic-Dataset.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
df.drop(['PassengerId' , 'Name', 'Ticket', 'Cabin', 'Embarked'], axis=1 , inplace=True)

In [ ]:
df

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0           0       3    male  22.0      1      0   7.2500
1           1       1  female  38.0      1      0  71.2833
2           1       3  female  26.0      0      0   7.9250
3           1       1  female  35.0      1      0  53.1000
4           0       3    male  35.0      0      0   8.0500
..        ...     ...     ...   ...    ...    ...      ...
886         0       2    male  27.0      0      0  13.0000
887         1       1  female  19.0      0      0  30.0000
888         0       3  female   NaN      1      2  23.4500
889         1       1    male  26.0      0      0  30.0000
890         0       3    male  32.0      0      0   7.7500

[891 rows x 7 columns]

In [ ]:
X = df.drop(['Survived'], axis = 1)
y = df['Survived']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state = 42)

In [ ]:
X_train
y_train

331    0
733    0
382    0
704    0
813    0
      ..
106    1
270    0
860    0
435    1
102    0
Name: Survived, Length: 712, dtype: int64

In [ ]:
# model.fit(X_train, y_train)
# model.score(X_train, y_train)
# model.test(X_test, y_test)

In [ ]:
X_train.isna().sum()

Pclass      0
Sex         0
Age       140
SibSp       0
Parch       0
Fare        0
dtype: int64

In [ ]:
X_test.isna().sum()

Pclass     0
Sex        0
Age       37
SibSp      0
Parch      0
Fare       0
dtype: int64

eger targetde na varsa o setri tamam atiriq

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
import numpy as np

In [ ]:
num_features = X_train.select_dtypes(include=[np.number]).columns
cat_features = X_train.select_dtypes(exclude=[np.number]).columns

In [ ]:
num_pipeline = Pipeline([
    ('impute', SimpleImputer(strategy='median'))
])

cat_pipeline = Pipeline([
    ('impute', SimpleImputer(strategy = 'most_frequent' )),
    ('onehot', OneHotEncoder(sparse_output = False))
])

In [ ]:
transformer = ColumnTransformer([
    ('cat', cat_pipeline, cat_features),
    ('num', num_pipeline, num_features)
], remainder= 'passthrough')

In [ ]:
X_train_transformed = transformer.fit_transform(X_train)
X_train_transformed

array([[  0.    ,   1.    ,   1.    , ...,   0.    ,   0.    ,  28.5   ],
       [  0.    ,   1.    ,   2.    , ...,   0.    ,   0.    ,  13.    ],
       [  0.    ,   1.    ,   3.    , ...,   0.    ,   0.    ,   7.925 ],
       ...,
       [  0.    ,   1.    ,   3.    , ...,   2.    ,   0.    ,  14.1083],
       [  1.    ,   0.    ,   1.    , ...,   1.    ,   2.    , 120.    ],
       [  0.    ,   1.    ,   1.    , ...,   0.    ,   1.    ,  77.2875]])

In [ ]:
columns = transformer.get_feature_names_out()
columns

array(['cat__Sex_female', 'cat__Sex_male', 'num__Pclass', 'num__Age',
       'num__SibSp', 'num__Parch', 'num__Fare'], dtype=object)

In [ ]:
X_train_transformed_df = pd.DataFrame(data=X_train_transformed, columns = columns)
X_train_transformed_df

,cat__Sex_female,cat__Sex_male,num__Pclass,num__Age,num__SibSp,num__Parch,num__Fare
0,0.0,1.0,1.0,45.5,0.0,0.0,28.5000
1,0.0,1.0,2.0,23.0,0.0,0.0,13.0000
2,0.0,1.0,3.0,32.0,0.0,0.0,7.9250
3,0.0,1.0,3.0,26.0,1.0,0.0,7.8542
4,1.0,0.0,3.0,6.0,4.0,2.0,31.2750
...,...,...,...,...,...,...,...
707,1.0,0.0,3.0,21.0,0.0,0.0,7.6500
708,0.0,1.0,1.0,28.0,0.0,0.0,31.0000
709,0.0,1.0,3.0,41.0,2.0,0.0,14.1083
710,1.0,0.0,1.0,14.0,1.0,2.0,120.0000
711,0.0,1.0,1.0,21.0,0.0,1.0,77.2875

In [ ]:
X_test_transformed = transformer.transform(X_test)
X_test_transformed

array([[ 0.    ,  1.    ,  3.    , ...,  1.    ,  1.    , 15.2458],
       [ 0.    ,  1.    ,  2.    , ...,  0.    ,  0.    , 10.5   ],
       [ 0.    ,  1.    ,  3.    , ...,  0.    ,  0.    ,  7.925 ],
       ...,
       [ 1.    ,  0.    ,  3.    , ...,  1.    ,  5.    , 31.3875],
       [ 1.    ,  0.    ,  2.    , ...,  0.    ,  0.    , 10.5   ],
       [ 1.    ,  0.    ,  3.    , ...,  1.    ,  1.    , 16.7   ]])

In [ ]:
X_test_transformed_df = pd.DataFrame(data=X_test_transformed, columns = columns)
X_test_transformed_df

,cat__Sex_female,cat__Sex_male,num__Pclass,num__Age,num__SibSp,num__Parch,num__Fare
0,0.0,1.0,3.0,28.0,1.0,1.0,15.2458
1,0.0,1.0,2.0,31.0,0.0,0.0,10.5000
2,0.0,1.0,3.0,20.0,0.0,0.0,7.9250
3,1.0,0.0,2.0,6.0,0.0,1.0,33.0000
4,1.0,0.0,3.0,14.0,1.0,0.0,11.2417
...,...,...,...,...,...,...,...
174,0.0,1.0,3.0,17.0,0.0,0.0,7.1250
175,0.0,1.0,3.0,28.0,0.0,0.0,7.2250
176,1.0,0.0,3.0,38.0,1.0,5.0,31.3875
177,1.0,0.0,2.0,17.0,0.0,0.0,10.5000
178,1.0,0.0,3.0,4.0,1.0,1.0,16.7000

In [ ]:
X_train_transformed_df.isna().sum()

cat__Sex_female    0
cat__Sex_male      0
num__Pclass        0
num__Age           0
num__SibSp         0
num__Parch         0
num__Fare          0
dtype: int64

In [ ]:
X_test_transformed_df.isna().sum()

cat__Sex_female    0
cat__Sex_male      0
num__Pclass        0
num__Age           0
num__SibSp         0
num__Parch         0
num__Fare          0
dtype: int64

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [ ]:
lr = LogisticRegression()
rfr = RandomForestClassifier()

In [ ]:
lr.fit(X_train_transformed_df, y_train);

/usr/local/lib/python3.12/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
lr.score(X_train_transformed_df,y_train)

0.8019662921348315

In [ ]:
lr.score(X_test_transformed_df, y_test)

0.8044692737430168